.education{
    padding: 50px;
    margin: 50px;
    background-color: rgb(252, 252, 252);
    text-align: center;
}

.education h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}