.education{
    padding: 50px;
    margin: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.education h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.education p{
    color: white;
    text-align: center;
}