.experience {
  padding: 50px;
  background-color: #020000;
  color: #fefefe;
  text-align: center;
}

.experience h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fefefe;
}