.objectives{
     padding: 50px;
  background-color: #020000;
  color: #f6f2f2;
  text-align: center;
}
.objectives h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: #f6f5f5;
  
}
.objectives p{
  text-align: center;
}